/* Your CSS Code here. */

#box-1 {
           border:1px solid black;
        }
#box-2{
			width: 300px;
            background-color: lightblue;
            border: 15px solid blue;
            padding: 50px;
            margin: 20px;
}