/* Your CSS Code here. */

.box-model {
		   width: 300px;
		    background-color: rgb(173, 216, 230);
            border: 15px solid blue;
            padding: 50px;
            margin: 20px;
        }

			
        

